extends layout

block content
  script(type="text/jsx" src="javascripts/tutorial.js")
  div(class="container white")
    center
      h1 Write Markdown!
      h6 With love from 
        a(href="github.com/niole") Niole Nelson
    div(class="divider")
    br
    div(id="mdApp")
    div(class="modal fade bs-example-modal-sm" id="successmodal" tabindex="-1" role="dialog")
      div(class="modal-dialog modal-sm")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal").
              x
          div(class="modal-body")
            p.
              markdown successfully updated.
